.formERetorno{
    display: flex;
}
.formulario{
    padding: 20px;
    margin: 50px;
    background-color: rgb(238, 182, 79);
    width: 500px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.camposSelecao{
    display: flex;
    justify-content: space-between;
}

.funcionamento{
    display: flex;
    justify-content: space-between;
}