<div class="formulario">
  <div *ngFor="let i of localVendas" class="localVendas">
    <p>nome: {{i.nome}}</p>
    <p>estado: {{i.estado}}</p>
    <p>cidade: {{i.cidade}}</p>
    <p>local: {{i.local}}</p>
    <p>início: {{i.horarioInicio}}</p>
    <p>término: {{i.horarioTermino}}</p>
  </div>
  <form [formGroup]="formulario" (ngSubmit)="adicionarLocalVenda($event)">
    <div class="conteudo">
      <mat-form-field appearance="fill">
        <mat-label>Nome do ponto</mat-label>
        <input matInput placeholder="Rei dos Churros" formControlName="nome" required>
      </mat-form-field>
      <div class="camposSelecao">
        <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <select matNativeControl (change)="procurarMunicipio($event)" formControlName="estado">
            <option value="" selected disabled>Selecione uma opção</option>
            <option *ngFor="let uf of estados" value={{uf.sigla}}>
              {{uf.sigla}}
            </option>
          </select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cidade</mat-label>
          <select matNativeControl formControlName="cidade">
            <option value="" selected disabled>Selecione uma opção</option>
            <option *ngFor="let cidade of cidades" value={{cidade.nome}}>
              {{cidade.nome}}
            </option>
          </select>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Local do ponto</mat-label>
        <input matInput placeholder="Praça dos Eucaliptos" formControlName="local" required>
      </mat-form-field>
      <div class="funcionamento">
        <mat-form-field appearance="fill">
          <mat-label>Horário de início</mat-label>
          <input matInput placeholder="Praça dos Eucaliptos" formControlName="inicio" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Horário de término</mat-label>
          <input matInput placeholder="Praça dos Eucaliptos" formControlName="termino" required>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit">Primary</button>
  </form>
</div>