<div class="cards-list">
  <card-produto imgSrc="assets/sofa.jpeg" imgSrc2="assets/sofa2.jpg" imgSrc3="assets/sofa3.jpg" nome="Sofá Bariloche 3 lugares" [preco]="889.99" referencia="Código: PSC6QXSGR" carousel="card1"></card-produto>

  <card-produto imgSrc="assets/mesa-centro.jpg" imgSrc2="assets/mesa-centro2.jpg" imgSrc3="assets/mesa-centro3.jpg" nome="Mesa de Centro Melita" [preco]="279.99" referencia="Código: PTC7QDS9R" carousel="card2"></card-produto>

  <card-produto imgSrc="assets/roupeiro.jpg" imgSrc2="assets/roupeiro2.jpg" imgSrc3="assets/roupeiro3.jpg" nome="Roupeiro Teckno Portas Convencionais" [preco]="327.89" referencia="Código: PTC96DX9R" carousel="card3"></card-produto>

  <card-produto imgSrc="assets/cama.jpeg" imgSrc2="assets/cama2.jpg" imgSrc3="assets/cama3.jpg" nome="Cama Estofada Gennie" [preco]="769.97" referencia="Código: VSC96DD1S" carousel="card4"></card-produto>
</div>
<div class="cards-list">
  <card-produto imgSrc="assets/mesa-jantar.jpg" imgSrc2="assets/mesa-jantar2.png" imgSrc3="assets/mesa-jantar3.jpg" nome="Mesa de Jantar Uno Central" [preco]="689.79" referencia="Código: PSC2QXAGR" carousel="card5"></card-produto>

  <card-produto imgSrc="assets/jogo-cama.jpg" imgSrc2="assets/jogo-cama2.jpg" imgSrc3="assets/jogo-cama3.jpg" nome="Jogo de Cama Solteiro em Algodão" [preco]="119.49" referencia="Código: TTC8QDS9R" carousel="card7"></card-produto>

  <card-produto imgSrc="assets/cadeira-escritorio.jpeg" imgSrc2="assets/cadeira-escritorio2.jpeg" imgSrc3="assets/cadeira-escritorio3.jpeg" nome="Cadeira Escritório" [preco]="327.89" referencia="Código: PTC96XX9R" carousel="card6" ></card-produto>

  <card-produto imgSrc="assets/lustre.png" imgSrc2="assets/lustre2.png" imgSrc3="assets/lustre3.png" nome="Lustre Braços Cromado" [preco]="259.98" referencia="Código: VSS96DD1S" carousel="card8"></card-produto>
</div>