<div class="cards-list">
  <card-produto 
    imgSrc="assets/sofa.jpeg" nome="Sofá Bariloche 3 lugares" [preco]="889.99" referencia="Código: PSC6QXSGR">
  </card-produto>
  <card-produto imgSrc="assets/mesa-centro.jpg" nome="Mesa de Centro Melita" [preco]="279.99" referencia="Código: PTC7QDS9R"></card-produto>
  <card-produto imgSrc="assets/roupeiro.jpg" nome="Roupeiro Teckno Portas de Correr" [preco]="327.89" referencia="Código: PTC96DX9R"></card-produto>
  <card-produto imgSrc="assets/cama.jpeg" nome="Cama com Estrado Elevatório Gennie" [preco]="769.97" referencia="Código: VSC96DD1S"></card-produto>
</div>
<div class="cards-list">
  <card-produto 
    imgSrc="assets/mesa-jantar.jpg" nome="Mesa de Jantar Uno Central" [preco]="689.79" referencia="Código: PSC2QXAGR">
  </card-produto>
  <card-produto imgSrc="assets/jogo-cama.jpg" nome="Jogo de Cama Solteiro" [preco]="119.49" referencia="Código: TTC8QDS9R"></card-produto>
  <card-produto imgSrc="assets/cadeira-escritorio.jpeg" nome="Cadeira Escritório" [preco]="327.89" referencia="Código: PTC96XX9R"></card-produto>
  <card-produto imgSrc="assets/lustre.png" nome="Lustre 7 Braços Cromado" [preco]="259.98" referencia="Código: VSS96DD1S"></card-produto>
</div>