.cards-list{
    background-color: rgb(34, 122, 172);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    /*flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);*/
}