main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.form-itens{
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-google{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color:#12863e;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding-left: 10px;
}
.button-google:hover{
    background-color:#12863ed1;
}
.div-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text-logar-button{
    font-size: 20px;
    margin-bottom: 0;
}

.logoGoogle{
    width: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.div-textLogoGoogle{
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-button-cadastrar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-cadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color:#243666;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding-left: 10px; 
    font-size: 20px;
    cursor: pointer;
}

.button-entrar:hover{
    background-color:#243666d0;
}

.cadastrar{
    display: flex;
    justify-content: center;
}

.faca-seu-login{
    text-decoration: none;
}