<section class="itens-card">
        <div class="container">
            <div id={{carousel}} class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src={{imgSrc}} alt="#" class="card-image d-block w-100"> <!--Primeira imagem-->
                  </div>
                  <div class="carousel-item">
                    <img class=" card-image d-block w-100" src={{imgSrc2}} alt="#"> <!--Segunda imagem-->
                  </div>
                  <div class="carousel-item">
                    <img class="card-image d-block w-100" src={{imgSrc3}} alt="#"> <!--Terceira imagem-->
                  </div>
                </div>
                <a class="carousel-control-prev" href="#{{carousel}}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only"></span>
                </a>
                <a class="carousel-control-next" href="#{{carousel}}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only"></span>
                </a>
              </div>
        </div>
        <div>
            <h2>{{nome}}</h2>
            <p>{{referencia}}</p>
            <span class="price"><strong>R$ {{preco}}</strong></span>
        </div>
        <div>
            <img src="assets/stars.png" alt="avalições do produto" class="card-stars">
        </div>
        <div>
            <button type="button" class="btn btn-color">COMPRAR</button>
        </div>
</section>