<section class="itens-card">
        <div class="container">
            <img src={{imgSrc}} alt="#" class="card-image">
        </div>
        <div>
            <h2>{{nome}}</h2>
            <p>{{referencia}}</p>
            <span class="price"><strong>R$ {{preco}}</strong></span>
        </div>
        <div>
            <img src="assets/stars.png" alt="avalições do produto" class="card-stars">
        </div>
        <div class="container">
            <button type="button" class="btn btn-color">COMPRAR</button>
        </div>
</section>