.card{
    width: 250px;
}

.card-subtitle{
    font-size: 13px;
}

.badge{
    font-size: 13px;
}
.btn{
    background-color: rgb(60, 22, 157);
    color: white;
    border: none;
}

.btn:hover{
    background-color: rgb(49, 78, 21);
}
