<main>
    <form class="form-itens" [formGroup]="formLogin" (ngSubmit)="signEmailAndPassword()">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput
                 placeholder="Ex. pat@example.com" formControlName="email">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input type="email" matInput placeholder="Ex. Senha##123" formControlName="senha">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div class="div-button-entrar">
          <button mat-raised-button class="button-entrar" type="submit">Entrar</button>
        </div>

        <div class="div-button">
          <button mat-raised-button (click)="signInGoogle()" class="button-google">
            <div class="div-textLogoGoogle">
              <img src="assets/pesquisa.png" alt="logoGoogle" class="logoGoogle">
              <p class="text-logar-button">Logar com o Google</p>
            </div>
          </button>
        </div>
        <div>
          <p class="cadastrar">Ainda não é cadastrado? <a routerLink="/cadastrar">Cadastre-se</a></p>
        </div>
      </form>
  </main>
