<main>
  <div>
    <form (ngSubmit)="pesquisar()" [formGroup]="formulario">
      <input type="text" formControlName="inputUser">
      <button>
        <mat-icon>done</mat-icon>
      </button>
    </form>
    <div *ngIf="returnApi != undefined">
      <p>{{returnApi.page}}</p>
      <p>{{returnApi.total_pages}}</p>
      <p>{{returnApi.total_results}}</p>
      <div *ngFor="let filme of returnApi.results">
        <!--cada filme retornado plea API-->
        <p>{{filme.adult}}</p>
        <p>{{filme.backdrop_path}}</p>
        <p>{{filme.id}}</p>
        <p>{{filme.original_language}}</p>
        <p>{{filme.original_title}}</p>
        <div *ngFor="let id of filme.genre_ids">
          <p>{{id}}</p>
          <!---id's de genero na qual cada filme se encaixa-->
        </div>
      </div>
    </div>
  </div>
</main>